# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-deps
.packages
pubspec.lock
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# IDE specific
.vscode/
.idea/
*.iml

# OS specific
.DS_Store
*.log
